[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pytest-sanic = "*"
faker = "*"

[packages]
gino = "*"
sanic = "==19.6.3"
alembic = "*"
psycopg2-binary = "*"
cerberus = "*"
# Wait until Sanic upgrades its Websocket's dependency to install uvicorn (for deployment)
# uvicorn = "*"
sanic-jwt-extended = "==0.4.2"	# Later versions (<1.0 under dev) require sanic<=0.8.0
sanic-cors = "*"
bidict = "*"
itsdangerous = "*"
aiocache = "*"
python-socketio = "*"
aioredis = "*"
sanic-prometheus = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
