[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pytest-sanic = "*"
faker = "*"

[packages]
gino = "*"
sanic = "==19.6.3"
alembic = "*"
psycopg2-binary = "*"
cerberus = "*"
# Wait until Sanic upgrades its Websocket's dependency to install uvicorn (for deployment)
# uvicorn = "*"
sanic-jwt-extended = "*"
sanic-cors = "*"
bidict = "*"
itsdangerous = "*"
aiocache = "*"
python-socketio = "*"
aioredis = "*"

[requires]
python_version = "3.7"
